body{
 background-color: rgba(0,0,0,0.2);
}
.rain li{
  list-style: none;
  height: 10px;
  width: 6px;
  border-radius: 100%;
  background: #009999;
  margin: 10px;
  
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -ms-animation: move 2s linear infinite;
}
.rain li:nth-child(1){
  position: relative;
  top: 180px;
  left: 165px;
  z-index: -1;
  -webkit-animation-delay: 888ms;
  -moz-animation-delay: 892ms;
  -ms-animation-delay: 892ms;
}
.rain li:nth-child(2){
  position: relative;
  top: 163px;
  left: 268px;
  z-index: -1;
  -webkit-animation-delay: 540ms;
  -moz-animation-delay: 540ms;
  -ms-animation-delay: 540ms;
}
.rain li:nth-child(3){
  position: relative;
  top: 145px;
  left: 290px;
  z-index: -1;
  -webkit-animation-delay: 985ms;
  -moz-animation-delay: 985ms;
  -ms-animation-delay: 985ms;
}
.rain li:nth-child(4){
  position: relative;
  top: 113px;
  left: 188px;
  z-index: -1;
  -webkit-animation-delay: 1675ms;
  -moz-animation-delay: 1675ms;
  -ms-animation-delay: 1675ms;
}
.rain li:nth-child(5){
  position: relative;
  top: 123px;
  left: 188px;
  z-index: -1;
  -webkit-animation-delay: 1250ms;
  -moz-animation-delay: 1250ms;
  -ms-animation-delay: 1250ms;
}
.rain li:nth-child(6){
  position: relative;
  top: 113px;
  left: 218px;
  z-index: -1;
  -webkit-animation-delay: 783ms;
  -moz-animation-delay: 783ms;
  -ms-animation-delay: 783ms;
}
.rain li:nth-child(7){
  position: relative;
  top: 100px;
  left: 237px;
  z-index: -1;
  -webkit-animation-delay: 450ms;
  -moz-animation-delay: 450ms;
  -ms-animation-delay: 450ms;
}
.rain li:nth-child(8){
  position: relative;
  top: 30px;
  left: 287px;
  z-index: -1;
  -webkit-animation-delay: 545ms;
  -moz-animation-delay: 545ms;
  -ms-animation-delay: 545ms;
}
.rain li:nth-child(9){
  position: relative;
  top: 60px;
  left: 147px;
  z-index: -1;
  -webkit-animation-delay: 1350ms;
  -moz-animation-delay: 1350ms;
  -ms-animation-delay: 1350ms;
}
.rain li:nth-child(10){
  position: relative;
  top: 50px;
  left: : 267px;
  z-index: -1;
  -webkit-animation-delay: 1945ms;
  -moz-animation-delay: 1945ms;
  -ms-animation-delay: 1945ms;
}
.rain li:nth-child(11){
  position: relative;
  top: 60px;
  left : 220px;
  z-index: -1;
  -webkit-animation-delay: 2200ms;
  -moz-animation-delay: 2200ms;
  -ms-animation-delay: 2200ms;
}
.rain li:nth-child(12){
  position: relative;
  top: 90px;
  left : 100px;
  z-index: -1;
  -webkit-animation-delay: 2350ms;
  -moz-animation-delay: 2350ms;
  -ms-animation-delay: 2350ms;
}
.rain li:nth-child(13){
  position: relative;
  top: 120px;
  left : 210px;
  z-index: -1;
  -webkit-animation-delay: 2000ms;
  -moz-animation-delay: 2000ms;
  -ms-animation-delay: 2000ms;
}
.rain li:nth-child(14){
  position: relative;
  top: 180px;
  left : 217px;
  z-index: -1;
  -webkit-animation-delay: 2288ms;
  -moz-animation-delay: 2288ms;
  -ms-animation-delay: 2288ms;
}
.rain li:nth-child(15){
  position: relative;
  top: 119px;
  left : 222px;
  z-index: -1;
  -webkit-animation-delay: 2219ms;
  -moz-animation-delay: 2219ms;
  -ms-animation-delay: 2219ms;
}
.rain li:nth-child(16){
  position: relative;
  top: 130px;
  left : 230px;
  z-index: -1;
  -webkit-animation-delay: 2357ms;
  -moz-animation-delay: 2357ms;
  -ms-animation-delay: 2357ms;
}
.rain li:nth-child(17){
  position: relative;
  top: 30px;
  left : 220px;
  z-index: -1;
  -webkit-animation-delay: 2359ms;
  -moz-animation-delay: 2359ms;
  -ms-animation-delay: 2359ms;
}
.rain li:nth-child(18){
  position: relative;
  top: 40px;
  left : 224px;
  z-index: -1;
  -webkit-animation-delay: 2352ms;
  -moz-animation-delay: 2352ms;
  -ms-animation-delay: 2352ms;
}
.rain li:nth-child(19){
  position: relative;
  top: 80px;
  left : 223px;
  z-index: -1;
  -webkit-animation-delay: 2351ms;
  -moz-animation-delay: 2351ms;
  -ms-animation-delay: 2351ms;
}
.rain li:nth-child(20){
  position: relative;
  top:123px;
  left: 228px;
  z-index: -1;
  -webkit-animation-delay: 2189ms;
  -moz-animation-delay: 2189ms;
  -ms-animation-delay: 2189ms;
}


@-webkit-keyframes move{
  100%{
    top: 255px;
  }
}
